<!DOCTYPE html>
<html lang="en">
{{> baseHead}}
<body>
    {{> siteHeader}}
    <div>
        <h2>Hello Friend&Friend</h2>
        <p>Let's talk.</p>
        {{#each allPosts}}
        <div style="background-color: #FFF4E0;">
            <h4><a href="/p/{{ this.id }}">{{ this.titlePost }}</a></h4>
            <p>
                <span>{{ this.userCreate }} | </span>
                <span>{{ this.createdDate }} | </span>
            </p>
            {{#if this.commentsCount}}
                <p>{{ this.commentsCount }}</p>
            {{else}}
                <p>No Comment</p>
            {{/if}}
        </div>
        {{/each}}
    </div>
    {{> siteFooter}}
</body>
</html>